<section>
<div class="container">

    <div class="row">
        <div class="col-xs-10">
            <h1>MUM University  Fairfield, IA!</h1>
            <hr>

            <nav>
                <ul class ="list-inline">

           <li> <a [routerLink]="['']">Home</a></li>
           <li> <a [routerLink]="['students']">Student</a></li>
           <li> <a [routerLink]="['aboutus']">AboutUs</a></li>
            <li> <a [routerLink]="['contactus']">CountactUs</a></li>
            </ul>
            </nav>



            <router-outlet></router-outlet>
        </div>
    </div>
</div>

</section>
